html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #212121;
  text-align: center;
  font-family: "PT Serif", serif;
  font-size: 20px;
  line-height: 1.5;
  color: #cccccc;
}

@media screen and (min-width: 1200px) {
  body {
    background-color: #000000;
    height: 100%;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  text-decoration: none;
  font-size: 23px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #1da1f2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 150px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: #1da1f2;
  background-color: #ffffff;
  border-color: #1da1f2;
}

.is-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.balance-section, .options, .main-header, .support {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .balance-section, .options, .main-header, .support {
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .balance-section, .options, .main-header, .support {
    padding-right: 95px;
    padding-left: 95px;
  }
}

.title {
  color: #1da1f2;
  font-size: 30px;
  line-height: 1.8;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 25px;
  }
}

.title-like {
  color: #ffffff;
}

header {
  border-bottom: 1px solid #9e9e9e;
}

footer {
  border-top: 1px solid #9e9e9e;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: #212121;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.71);
  z-index: 4;
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal {
  margin-top: 94px;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: #212121;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media screen and (max-width: 767px) {
  .modal {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 450px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal-name {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  line-height: 1.15;
  font-size: 20px;
  color: #ffffff;
}

.modal-close {
  position: absolute;
  bottom: 100%;
  left: 100%;
  -webkit-transform: translate(-130%, 130%);
          transform: translate(-130%, 130%);
  background-color: #212121;
  fill: #212121;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-close:hover, .modal-close:focus {
  background-color: #cccccc;
  fill: #1da1f2;
}

.money {
  padding-top: 25px;
  padding-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .money {
    padding-top: 55px;
    padding-bottom: 75px;
  }
}

.balance {
  font-size: 30px;
  line-height: 1.8;
  margin-bottom: 8px;
}

.currency {
  font-size: 18px;
  color: #9e9e9e;
}

.separation {
  margin-left: 8px;
  margin-right: 8px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .button {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .button:not(:last-child) {
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .button:not(:last-child) {
    margin-right: 100px;
  }
}

.checkbox-field {
  display: block;
  margin-bottom: 30px;
}

.option-text {
  margin-left: 8px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agree {
  display: inline-block;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: 2px solid #cccccc;
  border-radius: 2px;
}

.checkbox:checked + .agree {
  border-color: transparent;
  background-color: #1da1f2;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.username {
  margin-left: auto;
  color: #ffffff;
}

.logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  fill: #ffffff;
}

.help {
  text-decoration: none;
  color: #cccccc;
}

.help:visited {
  color: #cccccc;
}
/*# sourceMappingURL=main.css.map */