.balance-section {
  @extend %container;
}

.money {
  padding-top: 25px;
  padding-bottom: 35px;

  @media screen and (min-width: 768px) {
    padding-top: 55px;
    padding-bottom: 75px;
  }
}

.balance {
  font-size: 30px;
  line-height: 1.8;
  margin-bottom: 8px;
}

.currency {
  font-size: 18px;
  color: $secondary-text-color;
}

.separation {
  margin-left: 8px;
  margin-right: 8px;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}

.button {
  @extend %button;

  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 70px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 100px;
    }
  }
}

.is-hidden {
  @extend %visually-hidden;
}
