header {
  border-bottom: 1px solid $secondary-text-color;
}

footer {
  border-top: 1px solid $secondary-text-color;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: $bgc;
}
