.input-container {
  margin-bottom: 10px;
}

.input-field {
  max-width: 200px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  border: 1px solid $primary-text-color;
  border-radius: 5px;

  @media screen and (max-width: 480px) {
    max-width: 100px;
  }

  &:not(:last-child) {
    margin-left: 8px;
  }
}

.like-amount {
  margin-left: 8px;
  font-size: 18px;
  color: $secondary-text-color;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: $primary-text-color;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  transition: color $timing $duration, background-color $timing $duration;

  &:hover,
  &:focus {
    color: $bgc;
    background-color: $primary-text-color;
  }
}

.like-amount {
  margin-left: 8px;
  font-size: 18px;
  color: $secondary-text-color;
}

.input-container {
  margin-bottom: 10px;
}

.or {
  margin-bottom: 10px;
}

.wallet {
  margin-bottom: 20px;
}

.copy {
  fill: $title-color;
  margin-left: 8px;

  &:hover {
    fill: $primary-text-color;
  }
}

.cover {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 240px;
    height: 240px;
    background-color: #ffffff;
  }
}

.qr {
  display: inline-block;
}
