.description {
  color: $primary-text-color;
  font-size: 20px;
  line-height: 1.5;
  @media screen and (min-width: 1000px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.instruction {
  padding-top: 45px;
  padding-bottom: 55px;
  color: $secondary-text-color;

  @media screen and (min-width: 768px) {
    padding-top: 70px;
    padding-bottom: 90px;
  }
}

.button {
  fill: $title-color;
  @extend %button;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.twitter-icon {
  margin-left: 10px;
}
