.title {
  color: $accent-color;
  font-size: 30px;
  line-height: 1.8;
  font-weight: bold;

  @media screen and (max-width: 767px) {
    font-size: 25px;
  }
  &-like {
    color: $title-color;
  }
}
