html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $bgc;
  text-align: center;
  font-family: "PT Serif", serif;
  font-size: 20px;
  line-height: 1.5;
  color: $primary-text-color;

  @media screen and (min-width: 1200px) {
    background-color: #000000;
    height: 100%;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

// базовая отзывчивость для изображений
img {
  display: block;
  max-width: 100%;
  height: auto;
}
