%button {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  background-color: rgb(29, 161, 242);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 150px;

  transition: color $duration $timing, border-color $duration $timing,
    background-color $duration $timing, fill $duration $timing;

  &:hover,
  &:focus {
    color: rgb(29, 161, 242);
    background-color: #ffffff;
    border-color: rgb(29, 161, 242);
  }
}
